label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

li {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	position: relative;
}

li:hover button {
	display: block;
}

button.delete {
	background-color: #f44336;
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
